That ship is already booked for that date. Please try again.<br>
<br>

<br>
<form action="/flights/<%= @flight.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
Departure date: <input type="date" name="date" value="<%= @flight.date %>" required><br>
<br>
List cargo: <br>
<input type="text" style="width:263px";" name="items" value="<%= @flight.items %>" required><br>
<br>
Choose ship: <br>
    <input type="radio" name="ship" value="Millennium Falcon" <%='checked' if @flight.ship == "Millennium Falcon" %> required> Millennium Falcon<br>
    <input type="radio" name="ship" value="X-Wing" <%='checked' if @flight.ship == "X-Wing" %> required> X-Wing<br>
    <input type="radio" name="ship" value="Lambda Shuttle" <%='checked' if @flight.ship == "Lambda Shuttle" %> required> Lambda Shuttle<br>
    <input type="radio" name="ship" value="Starfreighter" <%='checked' if @flight.ship == "Starfreighter" %> required> Starfreighter<br>
<br>
Choose destination: <br>
    <input type="radio" name="destination" value="Tatooine" <%='checked' if @flight.destination == "Tatooine" %> required> Tatooine<br>
    <input type="radio" name="destination" value="Hoth" <%='checked' if @flight.destination == "Hoth" %> required> Hoth<br>
    <input type="radio" name="destination" value="Alderaan" <%='checked' if @flight.destination == "Alderaan" %> required> Alderaan<br>
    <input type="radio" name="destination" value="Yavin 4" <%='checked' if @flight.destination == "Yavin 4" %> required> Yavin 4<br>
<br>
<input type="submit" value="Edit Flight"></form> 
</form><br><br>

<a href="/flights/<%= @flight.id %>"><< Go Back Without Editing</a><br>