<h1>Welcome, <%=current_user.username %>.</h1>

<h2>All scheduled flights:</h2><br>


<% @flights.each do |flight| %>
    <p><strong>Date:</strong> <%= flight.date %> | <strong>Destination:</strong> <%= flight.destination %> | <strong>Ship:</strong> <%= flight.ship %> | <strong>Pilot:</strong> <%= flight.user.username %><br>
<% end %><br>
<br>



<form action="/create_new_flight" method="POST">
<input type="submit" value="Schedule a New Flight">
</form>

<form action="/view_my_flights" method="POST">
<input type="submit" value="View/Edit Your Flights">
</form>

<form action="/logout" method="POST">
<input type="submit" value="Log Out">
</form>