<h1>Welcome, <%=current_user.username %>.</h1>

<h2>All scheduled flights:</h2>

<table>
  <tr>
    <th style="text-align:left">Date:</th>
    <th style="text-align:left">Destination:</th>
    <th style="text-align:left">Ship:</th>
    <th style="text-align:left">Pilot:</th>
 
<% @flights.each do |flight| %>
    <tr>
    <td> <%= flight.date %> </td>
    <td> <%= flight.destination %> </td>
    <td> <%= flight.ship %> </td>
    <td> <%= flight.user.username %> </td>
    </tr>
<% end %>
</table>
<br><br><br>
<a href="/flights/new">Schedule a New Flight</a> | <a href="/users/<%= current_user.id %>">View/Edit Your Flights</a> | <a href="/flights">View All Flights</a> | <a href="/users/logout">Log Out</a>


