<h1>Welcome, <%=current_user.username %>.</h1>

<h2>All scheduled flights:</h2><br>


<% @flights.each do |flight| %>
    <p><strong>Date:</strong> <%= flight.date %> | <strong>Destination:</strong> <%= flight.destination %> | <strong>Ship:</strong> <%= flight.ship %> | <strong>Pilot:</strong> <%= flight.user.username %><br>
<% end %><br>
<br>


<a href="/flights/new">Schedule a New Flight</a><br>

<a href="/users/<%= current_user.id %>">View/Edit Your Flights</a><br>

<a href="/users/logout">Log Out</a>