
<h1>Flight Details</h1><br>
<p><strong>Date:</strong> <%= @flight.date %> | <strong>Destination:</strong> <%= @flight.destination %> | <strong>Ship:</strong> <%= @flight.ship %> | <strong>Cargo:</strong> <%= @flight.items %><br>
<br>


<form action="/flights/<%= @flight.id %>/edit" method="POST"><input type="submit" value="Edit Flight"></form> <form action="/flights/<%= @flight.id %>/delete" method="POST"><input type="submit" value="Delete Flight"></form>

<a href="/users/<%= current_user.id %>"><< Go Back to My Flights</a><br>
<a href="/users/logout">Log Out</a><br><br>